version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - REACT_APP_API_URL=http://backend:8000

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - sqlite_data:/app/data


  immudb:
    image: codenotary/immudb:latest
    container_name: immudb
    command: ["--auth"]
    volumes:
      - immudb_data:/var/lib/immudb

  tests:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: pytest -v
    depends_on:
      - backend
      - immudb
    environment:
      - IMMUDB_HOST=immudb
      - IMMUDB_PORT=3322
      - IMMUDB_USER=immudb
      - IMMUDB_PASSWORD=immudb
    volumes:
      - ./backend:/app

volumes:
  sqlite_data:
  immudb_data:

